<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="wFastCGI-pfbdcAPI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\_Python_\python.exe|D:\_WebRoot_\pfbdcAPI\wfastcgi.py" resourceType="Unspecified" />
		</handlers>
	</system.webServer>
	<appSettings>
		<add key="WSGI_HANDLER" value="webapi.myapp" />
		<add key="PYTHONPATH" value="E:/Python/EnglishandChineseweb" />
	</appSettings>
</configuration>
